header{
    background-color: rgb(8, 53, 8);
    min-height: 70px;
    width:100% ;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #ddd;
}
header.logo{
    flex:1
}
header a{
  
text-decoration: none;  
  color: #fff;
}
header a :hover{
    opacity: 1;
}
header ul li{
    display: inline-block;
    justify-content: space-between;
    background:  rgb(8, 53, 8);
    text-decoration: none;
}
.LOGO{
    background:  rgb(8, 53, 8);
    opacity: 0,;
}
header ul li:hover{
    opacity: 1;
}

.NAMES{
    text-decoration: none;
    list-style: none;
    border:none;
    outline: none;
    background:  rgb(8, 53, 8);
    cursor: pointer;
    color: rgb(240, 243, 243);
  }
  .menu{
    background:  rgb(8, 53, 8);
    cursor: pointer;
    color: rgb(240, 243, 243);
    display: none;
  }
  
  
  
 

