.edit_std {
    display: flex;
    flex-wrap: wrap;
  
    justify-content: center;
  }
  
  .edit_std form{
      max-width: 500px;
      min-width: 290px;
      width: 100%;
      margin-top: 15px;
  }
  
  .edit_std form .row{
      width:100%;
    
  }
  
  .edit_std form input,textarea{
      width: 100%;
      min-height: 25px;
    
  }
  .edit_std form button{
      width: 100px;
      margin-top: 20px;
      border-style: none;
      border-radius:5px;
      background: rgb(55, 168, 55);
      color: #fff;
      padding: 5px 0 5px;
  }