.data{
    background: url(https://i.pinimg.com/564x/7e/94/32/7e94324a52aed856b91001b94661b489.jpg);
    height: 100vh;
    margin-left: 100px;
    background-size: cover;
    background-repeat: no-repeat;
}