.student-biodata {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    background:rgb(149, 159, 149);
  }
  
  .student-info {
    width: 60%;
   
  }
  
  .student-picture {
    margin-top: 20px;
    width:300px;
    height:300px;
    text-align: center;
  }
  
  .student-picture img {
    width: 100%;

  }